/*
* Theme Name: Diary of a Foodie
* Author: Estudio Codesign
* Text Domain: doaf
*/
body {
  font-family: 'Futura Std', sans-serif;
  margin: 0 !important; }

a {
  text-decoration: none;
  color: #000;
  transition: color 0.5s linear; }
  a:hover {
    color: #5E5C5C; }
  a:visited {
    color: inherit; }

nav {
  font-weight: 100;
  margin-top: 1.5rem;
  z-index: 1; }
  nav.home {
    position: absolute;
    left: 0;
    right: 0; }
  nav div.top-nav .top-nav-left-btns {
    text-align: left;
    padding-left: 1.5rem; }
    nav div.top-nav .top-nav-left-btns ul.top-left-nav-list {
      list-style: none;
      padding: 0;
      margin: 1rem 0 0 0; }
      nav div.top-nav .top-nav-left-btns ul.top-left-nav-list li {
        display: inline-block;
        border: 1px solid rgba(0, 0, 0, 0.65);
        padding: 0.15rem 0;
        margin-right: 1rem; }
        nav div.top-nav .top-nav-left-btns ul.top-left-nav-list li.instagram-logo {
          border: none; }
          nav div.top-nav .top-nav-left-btns ul.top-left-nav-list li.instagram-logo a {
            padding: 0; }
            nav div.top-nav .top-nav-left-btns ul.top-left-nav-list li.instagram-logo a img {
              width: 1.75rem;
              height: 1.75rem;
              vertical-align: middle; }
              nav div.top-nav .top-nav-left-btns ul.top-left-nav-list li.instagram-logo a img:hover {
                background: no-repeat center url("img/insta_background_hover.svg"); }
        nav div.top-nav .top-nav-left-btns ul.top-left-nav-list li a {
          padding: 0.25rem 0.5rem;
          font-size: 0.85rem; }
          nav div.top-nav .top-nav-left-btns ul.top-left-nav-list li a:hover {
            background: no-repeat center url("img/top_left_link_background.svg");
            cursor: pointer; }
  nav div.top-nav .top-nav-right-btns {
    text-align: right; }
    nav div.top-nav .top-nav-right-btns ul.top-right-btn-list {
      list-style: none;
      padding: 0;
      margin-right: 1rem; }
      nav div.top-nav .top-nav-right-btns ul.top-right-btn-list li {
        display: inline-block;
        border: 1px solid rgba(0, 0, 0, 0.65);
        padding: 0.15rem 0;
        margin-left: 1rem; }
        nav div.top-nav .top-nav-right-btns ul.top-right-btn-list li a {
          padding: 0.25rem 0.5rem;
          font-size: 0.85rem;
          color: #000;
          cursor: pointer; }
          nav div.top-nav .top-nav-right-btns ul.top-right-btn-list li a:hover {
            background: no-repeat center url("img/top_left_link_background.svg"); }
  nav div.top-nav img {
    width: 60%; }
  nav div.links-nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative; }
    nav div.links-nav ul.navbar-links {
      list-style: none;
      padding: 0;
      display: inline-block;
      font-weight: normal; }
      nav div.links-nav ul.navbar-links li {
        display: inline;
        margin: 0 3rem; }
        nav div.links-nav ul.navbar-links li a {
          display: inline-block;
          color: #000;
          font-size: 1.15rem; }
          nav div.links-nav ul.navbar-links li a:hover {
            background: no-repeat center url("img/link_background.svg"); }
          nav div.links-nav ul.navbar-links li a.active {
            background: no-repeat center url("img/link_background.svg"); }
        nav div.links-nav ul.navbar-links li.current-menu-item > a {
          background: no-repeat center url("img/link_background.svg"); }
    nav div.links-nav::after {
      content: '';
      color: #000;
      height: 1px;
      position: absolute;
      width: 65%;
      bottom: -0rem;
      z-index: 1000000;
      /* text-align: center; */
      background-color: #000;
      left: 50%;
      transform: translateX(-50%); }
  nav div.row {
    text-align: center; }

.grid-container {
  position: relative;
  margin-bottom: 2rem;
  padding: 0 !important; }
  .grid-container .grid-item {
    margin: 0 1rem 2rem 1rem;
    width: calc(420px - 2rem);
    position: relative; }
    .grid-container .grid-item > a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .grid-container .grid-item .img-container img {
      width: 100%; }
    .grid-container .grid-item .info-container {
      margin-top: 1rem; }
      .grid-container .grid-item .info-container span.date {
        font-size: 0.75rem;
        font-weight: 100;
        color: #5E5C5C; }
      .grid-container .grid-item .info-container .info-container-title-container {
        display: block; }
      .grid-container .grid-item .info-container h3 {
        margin-top: 0.5rem;
        position: relative;
        display: inline-block; }
        .grid-container .grid-item .info-container h3::after {
          content: '';
          background: #4C1839;
          position: absolute;
          bottom: -4px;
          left: 0;
          height: 2px;
          width: 100%; }

.review-top-row {
  margin: 1.5rem auto -1rem;
  padding-left: 2.5rem; }

a.filters-all-button {
  display: inline-block;
  border: 1px solid #EF9008;
  padding-top: 0.35rem;
  padding-left: 0.5rem;
  min-width: 8rem;
  height: 20px;
  position: relative;
  vertical-align: bottom;
  transition: none;
  font-size: 0.85rem; }
  a.filters-all-button:hover {
    background-color: #EF9008;
    color: #fff; }

a.yellow-button {
  display: inline-block;
  border: 1px solid #EF9008;
  padding: 0.35rem 0.5rem;
  min-width: 8rem;
  height: 20px;
  transition: none; }
  a.yellow-button:hover {
    background-color: #EF9008;
    color: #fff; }

.grid-filters-container {
  width: 95%;
  margin: 3rem 0.5rem 3rem; }
  .grid-filters-container form {
    display: inline-block; }

footer {
  background-color: #F9F9F9;
  text-align: center;
  padding: 0 !important; }
  footer .footer-container {
    padding: 3rem;
    text-align: center; }
    footer .footer-container h2 {
      font-weight: normal;
      margin: 1rem auto;
      border-bottom: 2px solid #80C6B8;
      width: 18rem; }
    footer .footer-container p {
      margin: 0; }
      footer .footer-container p.contact-info {
        font-weight: 100; }
      footer .footer-container p.codesign-info {
        margin-top: 1.75rem;
        font-family: 'Gotham Rounded', sans-serif;
        font-weight: 100;
        font-size: 0.65rem; }
    footer .footer-container img {
      width: 35px; }

.home-main {
  height: 100vh;
  width: 100vw;
  max-width: 100%; }
  .home-main .home-item {
    height: 100vh; }

.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.review-title-row {
  padding: 0 2.75rem !important; }

h1.yellow-bar-title {
  font-weight: lighter;
  font-size: 3.75rem;
  margin-bottom: 0.75rem;
  color: #4C1839;
  position: relative;
  margin-left: 15px; }
  h1.yellow-bar-title::after {
    position: absolute;
    height: 20px;
    width: 115%;
    background-color: #EF9008;
    content: '';
    left: -15px;
    bottom: 7px;
    z-index: -1; }

.review-info-row {
  padding: 0 2rem !important; }
  .review-info-row > div {
    padding: 0 0.75rem; }
  .review-info-row .review-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end; }
    .review-info-row .review-info p {
      margin: 0.25rem 0;
      padding-left: 0.25rem;
      font-size: 1.5rem; }
    .review-info-row .review-info p.review-rating {
      font-size: 2rem;
      padding: 0; }
    .review-info-row .review-info p.review-date {
      font-size: 1.25rem;
      font-weight: 100; }
    .review-info-row .review-info p.review-price-range {
      color: #000;
      unicode-bidi: bidi-override;
      direction: rtl; }
      .review-info-row .review-info p.review-price-range::first-letter {
        color: #000; }
    .review-info-row .review-info p.wine-price {
      color: #80C6B8; }

.review-row {
  padding: 0 2rem !important;
  font-weight: 100;
  line-height: 1.65rem; }
  .review-row > div {
    padding: 0 0.75rem; }

.next-content-row {
  margin-top: 4.5rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .next-content-row a {
    background-color: #EF9008;
    padding: 0.5rem 3rem;
    text-transform: uppercase;
    color: #fff;
    transition: none; }

.explore-menu-row {
  margin-top: 3.5rem;
  margin-bottom: 5rem;
  padding: 0 8rem !important;
  text-align: center; }
  .explore-menu-row .explore-menu-element {
    position: relative;
    display: inline-block; }
    .explore-menu-row .explore-menu-element a {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0; }
  .explore-menu-row img {
    width: 7.5rem;
    max-height: 7.5rem;
    margin: 1.5rem auto;
    display: block; }

.explore-quote-row {
  position: relative; }
  .explore-quote-row .quote-text-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 12.5rem;
    background-color: rgba(0, 0, 0, 0.6); 
    width: 100%;
    }
    .explore-quote-row .quote-text-container img {
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: 35%; }
      .explore-quote-row .quote-text-container img#left-quote {
        left: 8vw; 
	display: block;}
      .explore-quote-row .quote-text-container img#right-quote {
        right: 8vw; 
	display: block;
	}
    .explore-quote-row .quote-text-container p {
      height: 100%;
      display: flex;
      justify-content: center;
      color: #fff;
      font-size: 2.5rem;
      font-style: italic;
      font-weight: 100; 
      text-align: center;

      @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait){
        display: block;
        position: absolute;
        top: 30%;
        width: 55%;
      }
}

  .explore-quote-row img {
    width: 100%;
    object-fit: contain;
    height: 100%; 
    display: none;
}

.select-target.select-theme-default {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  border-radius: 0 !important;
  position: relative;
  padding: 0.5rem 3em 0.5rem 1em;
  background: transparent !important;
  border: 1px solid #EF9008 !important;
  cursor: pointer;
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: none;
  font-family: 'Futura Std', sans-serif;
  font-weight: 100; }
  .select-target.select-theme-default:hover {
    background-color: #EF9008 !important;
    color: #fff !important; }

.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: 1px solid #EF9008;
  border-radius: 0; }

.select2-container--default .select2-selection--single .select2-selection__rendered:hover {
  color: #fff; }

.select2-container {
  min-width: 9rem;
  font-size: 0.85rem; }
  .select2-container:hover {
    background-color: #EF9008; }

.masonry {
  min-height: 60vh; }

.about-me {
  margin: 3.5rem 0 7.5rem;
  padding: 0 10rem;
  font-weight: 100; }
  .about-me .img-container {
    text-align: right; }
    .about-me .img-container img {
      width: 100%; }
  .about-me p {
    margin-top: 0; }

.text-center {
  text-align: center; }

.about-me-title {
  margin-top: 2.5rem; }
  .about-me-title h1 {
    margin: auto; }

.content-hero-img {
  position: relative; }
  .content-hero-img a img {
    position: absolute;
    top: 0;
    width: 1.5rem;
    right: 1rem;
    top: 0.5rem; }

.home-item-text h2 {
  font-weight: normal;
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 0.5rem; }

.home-item-text a {
  font-size: 1.5rem;
  background-color: #EF9008;
  border: #EF9008;
  padding: 0.5rem 1rem;
  font-weight: 100;
  color: #fff;
  transition: none; }

.slick-track {
  max-height: 100%; }

.slick-slide {
  max-height: 100%; }
  .slick-slide img {
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top left; }

.slick-list {
  max-height: 100%;
  height: 100%; }

.home-item-text {
  position: absolute;
  top: 70vh;
  margin-left: 10vw; }

.restaurant-list-container {
  min-height: 60vh; }

.restaurant-list-container > h3 {
  font-weight: normal;
  font-size: 1.5rem;
  color: #EF9008;
  margin-left: 1.5rem;
  border-bottom: 1px solid #4C1839;
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-top: 0; }

.restaurant-list-container > ul {
  list-style: none;
  padding: 0 1.5rem; }
  .restaurant-list-container > ul > li > h4 {
    font-size: 1.25rem;
    color: #4C1839;
    cursor: pointer;
    font-weight: normal;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0.5rem; }
  .restaurant-list-container > ul > li > ol {
    padding-left: 4rem;
    transition: all 0.3s ease;
    max-height: 100vh; }
    .restaurant-list-container > ul > li > ol > li {
      margin: 1.25rem 0;
      color: #5E5C5C; }
      .restaurant-list-container > ul > li > ol > li .restaurant-info-wrapper {
        display: inline-block;
        vertical-align: middle;
        padding-left: 1rem; }
        .restaurant-list-container > ul > li > ol > li .restaurant-info-wrapper a {
          color: #5E5C5C;
          transition: none;
          display: block; }
          .restaurant-list-container > ul > li > ol > li .restaurant-info-wrapper a:hover {
            color: #000; }
        .restaurant-list-container > ul > li > ol > li .restaurant-info-wrapper span.restaurant-address {
          font-size: 0.9rem;
          font-weight: 100; }

@media screen and (max-device-width: 900px) {
  html {
    font-size: 38px; }
  .home-item-text {
    margin-left: 5vw;
    bottom: 3rem;
    top: auto;
    max-width: 90vw; }
    .home-item-text h2 {
      font-size: 3.5rem; }
    .home-item-text a {
      font-size: 2.25rem; }
  .grid-container .grid-item {
    width: calc(100vw - 2rem);
    margin-bottom: 0.5rem; }
    .grid-container .grid-item .info-container span {
      font-size: 0.85rem !important; }
    .grid-container .grid-item .info-container h3 {
      font-size: 1.25rem; }
  nav div.top-nav img {
    width: 90%; }
  nav div.top-nav .top-nav-right-btns ul.top-right-btn-list li a {
    font-size: 0.95rem; }
  nav div.top-nav .top-nav-left-btns ul.top-left-nav-list li a {
    font-size: 0.95rem; }
  p.codesign-info {
    font-size: 0.3rem !important; }
  ul.navbar-links {
    width: 100%; }
    ul.navbar-links li {
      margin: 0 0.45rem !important; }
      ul.navbar-links li a {
        font-size: 1.05rem !important; }
  nav div.links-nav::after {
    bottom: 0.5rem; }
  nav div.links-nav {
    margin-bottom: 0; }
  .grid-filters-container {
    margin: 1rem 0 1.5rem 1rem; }
  .select2-container {
    min-width: 5.7rem;
    font-size: 1rem; }
  .select2-container--default .select2-selection--single {
    height: 52px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 46px;
    margin-top: 0.08rem; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 46px;
    width: 46px; }
  .footer-container {
    padding-top: 3rem !important;
  }
  footer .footer-container img {
    width: 2.5rem !important; 
  }
  a.filters-all-button {
    min-width: 5.15rem;
    width: 5.15rem;
    max-height: 50px;
    height: 37px;
    font-size: 1rem;
    /* padding-bottom: 0.5rem; */
    line-height: 32px; }
  div.about-me {
    padding: 0 2rem; }
  .about-me {
    margin-bottom: 2rem; }
    .about-me .img-container {
      margin-bottom: 1.5rem; }
  h1.yellow-bar-title::after {
    width: 100%;
    left: 0;
    bottom: -10px; }
  .explore-menu-row {
    margin-top: 0.75rem;
    margin-bottom: 2.5rem; }
  .explore-quote-row {
    height: 25vh; }
    .explore-quote-row > img {
      object-fit: none; }
  .explore-quote-row .quote-text-container {
    padding: 0 6rem; }
    .explore-quote-row .quote-text-container p {
      font-size: 1rem; }
  a.yellow-button {
    line-height: 26px; }
  #perfect-moments-button {
    min-width: 7.5rem; }
  #important-opinions-button {
    min-width: 8.5rem;
    margin-top: 0.5rem; } }

.quote-text-container{
  margin: auto;
  vertical-align: middle;
}
